body {
    background-image: url("Bilder/bg.png");
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.Navi {
    background-color: white;
    margin-left: 550px;
    position: sticky;
    position: -webkit-sticky;
    margin-top: -10px;
    top: 50;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 99;
    animation: none;
}

#navigation{z-index: 99;
animation: none;}

.Navi a {
    color: black;
    text-decoration: none;
}
.Navi a:hover {
    color: red;
}
#aboutmeactive {
    color: red;
}
#portfolioactive {
    color: red;
}
#contactactive {
    color: red;
}
h1 {
    z-index: 0;
    color: white;
    letter-spacing: 5px;
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;
    animation-duration: 3s;
    animation-name: fadein;
}
@keyframes fadein {
    from {z-index: 0;
        opacity: 0%;
    }
    to {z-index: 0;
        opacity: 100%;
    }
}
.boxschrift {
    z-index: 0;
    background-color: black;
    width: 800px;
    height: 400px;
    margin-top: -60px;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    animation-duration: 3s;
    animation-name: down;
}
@keyframes down {
    from {z-index: 0;
        margin-top: -300px;
    }
    to {z-index: 0;
        margin-top: -60px;
    }
}
#Avatar {
    position: relative;
    top: -325px;
    margin-bottom: -150px;
    opacity: 1;
    transform: scale(1);
}
#Avatar:hover {
    transform: scale(2.5);
    opacity: 1;
}
#Liste {
    list-style-type: none;
    text-align: center;
}
#Notfall {
    color: red;
}
h1 {
    text-decoration: none;
}
h2 {
    color: grey;
    text-decoration: none;
}
h3 {
    color: grey;
}
h4 {
    color: grey;
}
.Bilder {
    opacity: 1;
    transform: scale(0.75);
}
div~p {
    color: brown;
}
tr>th {
    color: rgb(247, 0, 255);
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.Bilder:hover {
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s cubic-bezier(.17, .67, .83, .67) 0s;
    border: 5px solid black;
    padding: 5px;
}
.mainbox {
    display: flex;
}
.container {
    display: flex;
    border: 1px solid black;
    padding: 10px;
}
.box1 {
    color: red;
    flex: 2;
    order: 2;
}
.box2 {
    flex: 1;
    order: 3;
}
.box3 {
    flex: 1;
    order: 1;
}
div h2 {
    animation-duration: 3s;
    animation-name: slidein;
}
audio+p {
    font-size: 40px;
}
h3+img {
    width: 80px;
    position: relative;
    top: -720px;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
.navigationsbox {
    display: inline;
}
#BlenderArbeiten {
    animation-duration: 3s;
    animation-name: fadein;
}
@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }}
